.video-title {
    padding: 15px;
    font-size: 16px;
    padding-left: 30px;
    padding-bottom: 30px;
    border-left: 2px solid white;
    text-align: center;
}

.video-title h3 {
    font-size: 1.25rem;
    /* text-transform: uppercase; */
    padding: 10px 0;
    margin-bottom: 20px;
}

#link-to-live .title {}

#link-to-live .title h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}