/* .contact-link.disabled {
    pointer-events: none;
    cursor: default;
} */


.contact-img {
    width: 100%;
    aspect-ratio: 5/1;
    object-fit: cover;
    object-position: 100% 45%;
}

/* .contact-link.disabled .contact-img {
    aspect-ratio: 1175/215;
    object-position: 2.5% 35%;
} */