/* ==========================
   Basic Layout Setup CSS
   ========================== */

/* General Reset CSS */

:root {
  --primary-color: black;
  --text-color: white;
  --highlight-color: #fcd52b;
  --primary-font: 'Roboto Slab', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* dòng biến này để trên :root không hoạt động ? */
  font-family: var(--primary-font);
}

body {
  margin: 0;

  /* font-family: var(--primary-font); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}

a {
  /* all: unset; */
  text-decoration: none;
  /* display: inline-block; */
  color: inherit;
  /* font-family: inherit; */
  /* font-family: 'Roboto', sans-serif; */
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* CSS Common Layouts */
.container {
  width: 1080px;
  max-width: 100%;
  margin: auto;
  padding: 0 1rem;
}

.container-fluid {
  width: 100%;
  padding: 0 1rem;
}

/* ========================
   Float Layout
   ======================== */

.float-row::after,
.clearfix {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* ========================
   Flexbox Layout
   ======================== */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
  height: 100%;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  /* align-items: center; */
}

.flex-space-between {
  justify-content: space-between;
}

/* Flex item */

.flex-item {
  padding: 0 10px;
  flex: 1;
}

.flex-item-2 {
  flex: 2;
}

.flex-item-3 {
  flex: 3;
}

/* Grid layout */
.col-2 {
  width: 50%;
}

.col-3 {
  width: calc(100% / 3);
}

.col-4 {
  width: 25%;
}

/* ===== Helpers ===== */
.color-highlight {
  color: var(--highlight-color) !important;
}


/* Media queries */

/* @media screen and (max-width: 920px) {
} */

@media screen and (max-width: 768px) {
  .description-area .flex-item {
    flex-basis: 100%;
  }
}