* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  /* all: unset; */
  display: inline-block;
  color: white;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}


.container {
  padding: 0 15px;
  max-width: 1080px;
  margin: auto;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.flex-col {
  height: 100%;
}

.header-main {
  height: 150px;
  background-color: black;
  position: sticky;
}

.header__logo {
  padding: 10px 0;
  vertical-align: middle;  
}

.header__logo a,
.header__logo a img {
  display: block;
  width: 300px;
  height: 150px;
}

.nav {
  background-color: #0A0A0A;
  height: 36px;
}

.nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
}

.nav li {
  display: block;
  margin: 0 7px;
  padding: 10px 0;
}

.nav ul li:first-child {
  margin-left: 0;
}

.nav li a {
  font-family: "Roboto", sans-serif;
  line-height: 16px;
  font-size: 12.8px;
  font-weight: 700;
}

.footer {
  background-color: black;
  color: white;
  padding-top: 25px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 17.6px;
}

.footer h2 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 12.8px;
}

.footer.flex-row {
  align-items: flex-start;
}

.footer__logo {
  margin-bottom: 16px;
}

.footer img {
  display: block;
  max-width: 100%;
}

.footer-section.flex-col {
  width: calc(100% / 3);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}

.footer-section p {
  margin-bottom: 22.8px;
}


@media screen  and (max-width: 920px) {
  .footer-section.flex-col {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .footer-section.flex-col {
    width: 100%;
  }
  
}

/* .flex-left {
  margin-right: auto;
}

.flex-right {
  margin-left: auto;
} */

/* .header-inner__logo {
  margin: 0 15px;
} */

/* .header__logo a, */

/* @media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {} */